@define-mixin breakpoint-xs {
  @media (min-width: 600px) {
    @mixin-content;
  }
}
@define-mixin breakpoint-sm {
  @media (min-width: 768px) {
    @mixin-content;
  }
}
@define-mixin breakpoint-md {
  @media (min-width: 960px) {
    @mixin-content;
  }
}
@define-mixin breakpoint-lg {
  @media (min-width: 11140px) {
    @mixin-content;
  }
}
