.single-wpcs_session{

    .wpsc-single-session{
        &-title{
            font-size: 2em;
            margin-bottom: 25px;
        }
        &-time{
            font-size: 1.5em;
            margin-bottom: 25px;
        }
        &-taxonomies{
            list-style-type: none;
            margin-left: 0;
            padding: 0;
            &-taxonomy{
                display: inline;
                margin-right: 20px;
                i{
                    margin-right: 4px;
                }
            }
        }
    }

}