/*
 * Variables
 * -------------------------------------------------------------
 */
:root {
	--wcsp-color-white: #ffffff;
	--wcsp-color-black: #000000;
	--wcsp-color-gray-darkest: #212529;
	--wcsp-color-gray-darker: #2C2F33;
	--wcsp-color-gray-dark: #32383e;
	--wcsp-color-gray-light: #4a4a4a;
	--wcsp-color-gray-lighter: #dee2e6;
	--wcsp-color-gray-lightest: #f2f2f2;
	--wcsp-color-blue: #0073aa;
	--wcsp-color-blue-light: #bfdcea;
}