.wpcs-layout-table {
  width: 100%;
  border-spacing: 0px;
  table-layout: fixed;
  margin-bottom: 0;
  border-bottom: 1px solid #dee2e6; }
  @media screen and (max-width: 700px) {
    .wpcs-layout-table {
      border: none;
      width: 100%; } }
  .wpcs-layout-table thead th {
    background: #f2f2f2;
    color: #000000;
    border-bottom: none;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dee2e6;
    border-bottom: none; }
  @media screen and (max-width: 700px) {
    .wpcs-layout-table thead {
      display: none; } }
  .wpcs-layout-table tbody,
  .wpcs-layout-table tr,
  .wpcs-layout-table td,
  .wpcs-layout-table th {
    text-align: center;
    vertical-align: top; }
    @media screen and (max-width: 700px) {
      .wpcs-layout-table tbody,
      .wpcs-layout-table tr,
      .wpcs-layout-table td,
      .wpcs-layout-table th {
        display: block; } }
  .wpcs-layout-table tr {
    background: #ffffff; }
    @media screen and (max-width: 700px) {
      .wpcs-layout-table tr {
        border: 1px solid #32383e;
        margin-bottom: 16px; } }
    .wpcs-layout-table tr td {
      padding-top: 15px;
      padding-bottom: 15px;
      border: none;
      white-space: pre-wrap;
      word-break: break-word; }
      @media screen and (max-width: 700px) {
        .wpcs-layout-table tr td {
          border: none; } }
  .wpcs-layout-table .wpcs-session-empty {
    border-right: 1px solid #dee2e6; }
    @media screen and (max-width: 700px) {
      .wpcs-layout-table .wpcs-session-empty {
        display: none; } }
  .wpcs-layout-table .wpcs-time {
    min-width: 105px;
    border: 1px solid #dee2e6;
    border-bottom: 0px; }
    @media screen and (max-width: 700px) {
      .wpcs-layout-table .wpcs-time {
        font-size: 22px;
        padding: 0 16px; } }
  .wpcs-layout-table [class*="wpcs-session-type-"] {
    border-right: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6; }
  @media screen and (max-width: 700px) {
    .wpcs-layout-table .wpcs-session-type-session {
      line-height: 1.4;
      margin-bottom: 16px; } }
  @media screen and (max-width: 700px) {
    .wpcs-layout-table .wpcs-session-type-session:before {
      color: #909294;
      content: attr(data-track-title);
      border-bottom: 1px dashed #dee2e6;
      border-top: 1px dashed #dee2e6;
      display: block;
      font-size: 110%;
      line-height: 1;
      margin-bottom: 8px;
      padding: 3px 10px; } }
  @media screen and (max-width: 700px) {
    .wpcs-layout-table .wpcs-global-session .wpcs-session-type-session:before {
      display: none; } }
  .wpcs-layout-table .wpcs-session-cell-content h3 {
    font-size: 26px;
    margin-bottom: 10px; }
  @media screen and (max-width: 700px) {
    .wpcs-layout-table .wpcs-session-title {
      display: block;
      padding: 10px; } }
  .wpcs-layout-table .wpcs-track-description,
  .wpcs-layout-table .wpcs-session-speakers {
    display: inline-block; }
  .wpcs-layout-table .wpcs-session-speakers:before {
    content: '- '; }
    @media screen and (max-width: 700px) {
      .wpcs-layout-table .wpcs-session-speakers:before {
        font-style: italic; } }
  @media screen and (max-width: 700px) {
    .wpcs-layout-table .wpcs-session-speakers {
      display: block;
      padding-left: 20px; } }
  .wpcs-layout-table .wpcs-global-session {
    background: #f2f2f2; }
    .wpcs-layout-table .wpcs-global-session td {
      padding: 20px 0 !important; }
  .wpcs-layout-table .wpcs-global-session-mainstage,
  .wpcs-layout-table .wpcs-session-type-mainstage {
    background: #bfdcea; }
  .wpcs-layout-table.wpcs-color-scheme-dark {
    color: #ffffff; }
    .wpcs-layout-table.wpcs-color-scheme-dark thead th {
      background: #212529;
      color: #ffffff; }
    .wpcs-layout-table.wpcs-color-scheme-dark a {
      color: #ffffff; }
    .wpcs-layout-table.wpcs-color-scheme-dark tr {
      background-color: #212529; }
    .wpcs-layout-table.wpcs-color-scheme-dark .wpcs-session-title {
      color: #ffffff; }
    @media screen and (max-width: 700px) {
      .wpcs-layout-table.wpcs-color-scheme-dark .wpcs-session-type-session:before {
        border-bottom-color: #32383e;
        border-top-color: #32383e; } }
    .wpcs-layout-table.wpcs-color-scheme-dark .wpcs-global-session {
      background: #2C2F33; }
    .wpcs-layout-table.wpcs-color-scheme-dark .wpcs-global-session-mainstage,
    .wpcs-layout-table.wpcs-color-scheme-dark .wpcs-session-type-mainstage {
      background: #4a4a4a; }

.wpcs-layout-grid .wpcs-time {
  display: none; }
  @media screen and (min-width: 700px) {
    .wpcs-layout-grid .wpcs-time {
      display: block;
      grid-column: times;
      background-color: transparent;
      margin: 0;
      font-size: 1em;
      font-weight: bold;
      font-size: .75em; } }
.wpcs-layout-grid .wpcs-col-track {
  display: none; }
  @supports (display: grid) {
    @media screen and (min-width: 700px) {
      .wpcs-layout-grid .wpcs-col-track {
        display: block;
        padding: 10px 5px 5px;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: transparent;
        font-weight: bold;
        font-size: .75em; } } }

.wpcs-layout-grid [class*="wpcs-session-type-"] {
  margin-bottom: 1em;
  padding: .5em;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 0;
  background-color: #f2f2f2;
  border: solid 1px white; }
  @supports (display: grid) {
    @media screen and (min-width: 700px) {
      .wpcs-layout-grid [class*="wpcs-session-type-"] {
        margin: 0; } } }

.wpcs-layout-grid .wpcs-session-cell-content h3 {
  margin: 0;
  font-size: 1.5em; }

.wpcs-layout-grid .wpcs-session-title {
  text-decoration: none !important; }
  .wpcs-layout-grid .wpcs-session-title:hover {
    font-style: italic; }
  .wpcs-layout-grid .wpcs-session-title:focus {
    outline: 2px dotted rgba(255, 255, 255, 0.8); }

.wpcs-layout-grid .wpcs-session-time {
  color: #696969; }

@media screen and (max-width: 700px) {
  .wpcs-layout-grid .wpcs-session-speakers:before {
    font-style: italic; } }

@media screen and (max-width: 700px) {
  .wpcs-layout-grid .wpcs-session-speakers {
    display: block; } }

.wpcs-layout-grid .wpcs-global-session {
  background: #f2f2f2; }
  .wpcs-layout-grid .wpcs-global-session td {
    padding: 20px 0 !important; }

.wpcs-layout-grid .wpcs-global-session-mainstage,
.wpcs-layout-grid .wpcs-session-type-mainstage {
  background: #bfdcea; }

.wpcs-layout-grid.wpcs-color-scheme-dark a {
  color: #ffffff; }

.wpcs-layout-grid.wpcs-color-scheme-dark [class*="wpcs-session-type-"] {
  border: solid 1px black;
  background-color: #212529; }

.wpcs-layout-grid.wpcs-color-scheme-dark .wpcs-session-cell-content {
  color: #ffffff; }

.wpcs-layout-grid.wpcs-color-scheme-dark .wpcs-session-title {
  color: #ffffff; }

.wpcs-layout-grid.wpcs-color-scheme-dark .wpcs-global-session {
  background: #2C2F33; }

.wpcs-layout-grid.wpcs-color-scheme-dark .wpcs-global-session-mainstage,
.wpcs-layout-grid.wpcs-color-scheme-dark .wpcs-session-type-mainstage {
  background: #4a4a4a; }

.wpcs-layout-grid.wpcs-color-scheme-dark .wpcs-session-time {
  color: #b3b3b3; }

.wpcs-promo {
  text-align: right; }

.single-wpcs_session .wpsc-single-session-title {
  font-size: 2em;
  margin-bottom: 25px; }

.single-wpcs_session .wpsc-single-session-time {
  font-size: 1.5em;
  margin-bottom: 25px; }

.single-wpcs_session .wpsc-single-session-taxonomies {
  list-style-type: none;
  margin-left: 0;
  padding: 0; }
  .single-wpcs_session .wpsc-single-session-taxonomies-taxonomy {
    display: inline;
    margin-right: 20px; }
    .single-wpcs_session .wpsc-single-session-taxonomies-taxonomy i {
      margin-right: 4px; }
