.wpcs-layout-table{
	width:100%;
	border-spacing: 0px;
	table-layout:fixed;
	margin-bottom: 0;
	border-bottom: 1px solid $color-gray-lighter;
	@media screen and ( max-width: 700px ) {
		border: none;
		width: 100%;
	}
	thead{
		th{
			background: $color-gray-lightest;
			color: $color-black;
			border-bottom: none;
			font-weight: 300;
			padding-top: 10px;
			padding-bottom: 10px;
			border: 1px solid $color-gray-lighter;
			border-bottom: none;
		}
		@media screen and ( max-width: 700px ) {
			display: none;
		}
	}
	tbody,
	tr, 
	td, 
	th {
		text-align: center;
		vertical-align: top;
		@media screen and ( max-width: 700px ) {
			display: block;
		}
	}
	tr {
		background: $color-white;
		@media screen and ( max-width: 700px ) {
			border: 1px solid $color-gray-dark;
			margin-bottom: 16px;
		}
		td {
			padding-top: 15px;
			padding-bottom: 15px;
			border: none;
			white-space:pre-wrap;
  		word-break:break-word;
			@media screen and ( max-width: 700px ) {
				border: none;
			}
		}
	}
	.wpcs-session-empty{
		border-right: 1px solid $color-gray-lighter;
		@media screen and ( max-width: 700px ) {
			display: none;
		}
	}
	.wpcs-time {
		min-width: 105px;
		border: 1px solid $color-gray-lighter;
		border-bottom: 0px;
		@media screen and ( max-width: 700px ) {
			font-size: 22px;
			padding: 0 16px;
		}
	}
	[class*="wpcs-session-type-"]{
		border-right: 1px solid $color-gray-lighter;
		border-top: 1px solid $color-gray-lighter;
	}
	.wpcs-session-type-session {
		@media screen and ( max-width: 700px ) {
			line-height: 1.4;
			margin-bottom: 16px;
		}
	}
	.wpcs-session-type-session:before {
		@media screen and ( max-width: 700px ) {
			color: mix($color-gray-darkest, $color-white, 50%);
			content: attr( data-track-title );
			border-bottom: 1px dashed $color-gray-lighter;
			border-top: 1px dashed $color-gray-lighter;
			display: block;
			font-size: 110%;
			line-height: 1;
			margin-bottom: 8px;
			padding: 3px 10px;
		}
	}
	.wpcs-global-session .wpcs-session-type-session:before {
		@media screen and ( max-width: 700px ) {
			display: none;
		}
	}
	.wpcs-session-cell-content{
		h3{
			font-size: 26px;
			margin-bottom: 10px;
		}
	}
	.wpcs-session-title {
		@media screen and ( max-width: 700px ) {
			display: block;
			padding: 10px;
		}
	}
	.wpcs-track-description, 
	.wpcs-session-speakers {
		display: inline-block;
	}
	.wpcs-session-speakers {
		&:before{
			content: '- ';
			@media screen and ( max-width: 700px ) {
				//content: "Speaker: ";
				font-style: italic;
			}
		}
		@media screen and ( max-width: 700px ) {
			display: block;
			padding-left: 20px;
		}
	}
	.wpcs-global-session {
		background: $color-gray-lightest;
		td {
			padding: 20px 0 !important;
		}
	}
	.wpcs-global-session-mainstage,
	.wpcs-session-type-mainstage{
		background: $color-blue-light;
	}
	&.wpcs-color-scheme-light{
	}
	&.wpcs-color-scheme-dark{
		color: $color-white;
		thead{
			th{
				background: $color-gray-darkest;
				color: $color-white;
			}
		}
		a{
			color: $color-white;
		}
		tr{
			background-color: $color-gray-darkest;
		}
		td {
		}
		.wpcs-session-title{
			color: $color-white;
		}
		.wpcs-session-type-session:before {
			@media screen and ( max-width: 700px ) {
				border-bottom-color: $color-gray-dark;
				border-top-color: $color-gray-dark;
			}
		}
		.wpcs-global-session {
			background: $color-gray-darker;
		}
		.wpcs-global-session-mainstage,
		.wpcs-session-type-mainstage{
			background: $color-gray-light;
		}
	}
}

.wpcs-layout-grid{
	
	.wpcs-session-empty{
	}

	.wpcs-time{
		display: none;
		@media screen and (min-width: 700px) {
			display: block;
			grid-column: times;
			background-color: transparent;
			margin: 0;
			font-size: 1em;
			font-weight: bold;
			font-size:.75em;
		}
	}

	.wpcs-col-track{
		display: none;
		@supports( display:grid ){
			@media screen and (min-width:700px){
				display: block;
				padding: 10px 5px 5px;
				position: sticky;
				top: 0;
				z-index: 1000;
				background-color: transparent;
				font-weight: bold;
				font-size:.75em;
			}
		}
	}

	[class*="wpcs-session-type-"]{
		margin-bottom:  1em;
		padding: .5em;
		border-radius: 2px;
		font-size: 14px;
		box-shadow: rgba(0,0,0,.1) 4px 4px 0;
		background-color: rgba($color-gray-lightest,1);
		border: solid 1px white;
		&:hover{
		}
		@supports( display:grid ) {
			@media screen and (min-width: 700px) {
				margin: 0;
			}
		}
	}
	.wpcs-session-type-session {
		@media screen and ( max-width: 700px ) {
		}
	}
	.wpcs-session-cell-content{
		h3{
			margin: 0;
			font-size: 1.5em;
		}
	}
	.wpcs-session-title {
		text-decoration: none !important;
		&:hover {
			font-style: italic;
		}
		&:focus {
			outline: 2px dotted rgba(255,255,255,.8);
		}
	}

	.wpcs-session-time{
		color: #696969;
	}

	.wpcs-track-description, 
	.wpcs-session-speakers {
	}
	.wpcs-session-speakers {
		&:before{
			//content: '- ';
			@media screen and ( max-width: 700px ) {
				//content: "Speaker: ";
				font-style: italic;
			}
		}
		@media screen and ( max-width: 700px ) {
			display: block;
		}
	}
	.wpcs-global-session {
		background: $color-gray-lightest;
		td {
			padding: 20px 0 !important;
		}
	}
	.wpcs-global-session-mainstage,
	.wpcs-session-type-mainstage{
		background: $color-blue-light;
	}
	&.wpcs-color-scheme-light{
	}
	&.wpcs-color-scheme-dark{
		a{
			color: $color-white;
		}
		[class*="wpcs-session-type-"]{
			border: solid 1px black;
			background-color: $color-gray-darkest;
		}
		.wpcs-session-cell-content{
			color: $color-white;
		}
		.wpcs-session-title{
			color: $color-white;
		}
		.wpcs-global-session {
			background: $color-gray-darker;
		}
		.wpcs-global-session-mainstage,
		.wpcs-session-type-mainstage{
			background: $color-gray-light;
		}
		.wpcs-session-time{
			color: mix($color-black, $color-white, 30%);
		}
	}
}

.wpcs-promo{
	text-align: right;
}


