// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-gray-darkest: #212529;
$color-gray-darker: #2C2F33;
$color-gray-dark: #32383e;
$color-gray-light: #4a4a4a;
$color-gray-lighter: #dee2e6;
$color-gray-lightest: #f2f2f2;
$color-blue-light: #bfdcea;