/*
 * Conference Schedule Admin CSS
 * -------------------------------------------------------------
 */

@import 'partials/_variables.pcss';
@import 'partials/_helpers.pcss';
@import 'partials/_schedule.pcss';
@import 'partials/_reorder.pcss';

#conference_session_time {
	width: 80px;
}

#wpcs-session-date{
	margin-bottom: 15px;
}